@import "colors.css";

* {
  min-height: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
}

window#waybar {
  transition-property: background-color;
  transition-duration: 0.5s;
  background-color: rgba(24, 24, 37, 0);
}

window#waybar.hidden {
  opacity: 0;
}

#workspaces {
  background-color: transparent;
}

#workspaces button {
  all: initial;
  min-width: 13px;
  min-height: 13px;
  box-shadow: inset 0 -3px transparent;
  padding: 2px 10px;
  min-height: 0;
  margin: 4px 4px;
  border-radius: 100%;
  background-color: #181825;
  color: @main-fg;
  transition-duration: 300ms;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  color: #1e1e2e;
  background-color: @secondary-accent;
}

#workspaces button.active {
  color: #1e1e2e;
  background-color: @primary-accent;
}

#workspaces button.urgent {
  background-color: @secondary-accent;
}

#clock,
#pulseaudio,
#custom-logo,
#custom-power,
#cpu,
#tray,
#memory,
#battery,
#window {
  min-height: 0;
  padding: 4px 10px;
  border-radius: 4px;
  margin: 4px 4px;
}

#window {
  border-radius: 15px;
  background-color: @main-bg;
}

#battery {
  color: #00E472;
}

#battery.warning {
  color: #FFE140;
}

#battery.critical {
  color: #FF4040;
}

#custom-sep {
  padding: 0px;
  color: #585b70;
}

window#waybar.empty #window {
  background-color: transparent;
}

#cpu {
  color: @complimentary;
}

#memory {
  color: @secondary-accent;
}

#clock {
  color: @primary-accent;
}

#clock.simpleclock {
  color: @primary-accent;
  padding-left: 0;
}

#window {
  color: #a6e3a1;
}

#pulseaudio {
  color: @primary-accent;
}

#pulseaudio.muted {
  color: #a6adc8;
}

#custom-logo {
  color: #89b4fa;
}

#custom-power {
  color: #f38ba8;
  padding-right: 5px;
  font-size: 14px;
}

@keyframes blink {
  to {
    background-color: #f38ba8;
    color: #181825;
  }
}

tooltip {
  border-radius: 8px;
}
